.repository-item {
  width: 97%;
  padding: 16px;
  svg {
    vertical-align: bottom;
  }
  .ico {
    fill: #57606a;
  }

  &-header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    .title {
      color: #0969da;
      font-weight: 600;
      font-size: 20px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      svg {
        margin-right: 10px;
        vertical-align: middle;
      }
      .username {
        font-weight: 400;
      }
    }
  }

  &-description {
    color: #57606a;
    font-size: 14px;
  }

  &-info {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    color: #57606a;
    text-align: center;
    .short-info {
      display: inline-flex;
      justify-content: space-between;
      gap: 15px;
      margin-top: 5px;
      align-items: center;

      .forks {
        &:hover {
          color: #0969da;
          cursor: pointer;
          svg {
            fill: #0969da;
          }
        }
      }
      .stars {
        &:hover {
          color: #0969da;
          cursor: pointer;
          svg {
            fill: #0969da;
          }
        }
      }
    }

    .participants {
      &-text {
        vertical-align: super;
        margin-right: 5px;
      }
      img {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }
  }
}
.repository-item + .repository-item {
  border-top: 1px solid #d8dee4;
}
