.header {
  background-color: #f6f8fa;
  padding: 40px 0px;
  text-align: center;
  &-title {
    font-size: 32px;
    font-weight: 600 !important;
  }
  &-subtitle {
    color: #57606a;
    font-size: 16px;
  }
}
.page-body {
  padding: 0px 16px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1012px;
  .content {
    border-radius: 6px;
    width: 100%;
    border: 1px solid #d0d7de;
    &-header {
      display: flex;
      gap: 100px;
      justify-content: space-between;
      background-color: #f6f8fa;
      padding: 16px;
      .filters {
        display: inline-flex;
        justify-content: flex-end;
        gap: 50px;
      }
    }
    &-buttons {
      display: inline-flex;
      font-weight: 500;
      line-height: 20px;
      float: left;
      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }
    }
    &-button {
      border: 1px solid #d0d7de;
      padding: 5px 16px;
      cursor: pointer;
      &.selected {
        background-color: #0969da;
        color: #ffffff;
      }
    }
  }
}
